/* roboto-regular - latin */
$black-color: #274c5b;

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/static/fonts/roboto-v30-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* yellowtail-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/yellowtail-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
button:hover {
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}

body {
  font-family: "Roboto";
  color: $black-color;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-around;
}
.nav__card1 {
  display: flex;
  text-align: center;
  gap: 10px;
}
.nav__card1__h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  color: $black-color;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.nav__card2__ul {
  display: flex;
  gap: 30px;
}
.nav__card2__ul {
  li {
    a {
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      color: $black-color;
    }
  }
}
.nav__card2__ul {
  li {
    a {
      color: $black-color;
    }
  }
}
.nav__card3 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__card3__div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 60px;
  border: solid gray 1px;
  border-radius: 33px;
}
.main--card1 {
  width: 100%;
  height: 898px;
  background-image: url(/static/images/main-image2.jpg);
}
.main-card2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}
.main-card2__section1 {
  background-image: url(/static/images/banan-image.png);
  width: 682px;
  height: 367px;
}
.main-card2__section2 {
  width: 682px;
  height: 367px;
  background-image: url(/static/images/2banan-image.png);
}
.card2__h2 {
  font-family: "Yellowtail";
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
  color: white;
}
.card2__h3 {
  font-family: "roboto";
  font-size: 40px;
  font-weight: 800;
  line-height: 47px;
  color: white;
  margin-top: 4px;
}
.card2__wrapper {
  width: 277px;
  height: 20px;
  margin-top: 100px;
  margin-left: 50px;
}
.h2 {
  color: green;
}
.h3 {
  color: black;
}
.card3 {
  width: 1500px;
  height: 800px;
  margin-top: 2000px;
  display: flex;
  background-color: #fdfdfd;
  margin: 0 auto;
}
.card3__section1 {
  width: 860px;
  height: 900px;
  background-image: url(/static/images/flowers-image.png);
  background-position: center;
}
.card3__section2 {
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 100px;
}
.card3__h2 {
  margin-top: 0px;
}
.main-description {
  font-size: 18px;
  font-weight: 400;
  color: #525c60;
}
.card3__section2__div {
  display: flex;
}
.section2__pi {
  font-size: 25px;
  font-weight: 800;
  color: black;
}
.btn {
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background: #274c5b;
  padding: 28px 39px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
  gap: 13px;
  border: none;
}
.card4__section1 {
  text-align: center;
}
.card4__section2 {
  width: 335px;
  height: 483px;
  position: relative;
  margin-bottom: 150px;
}
.star_wrapper {
  display: flex;
  align-items: center;
  gap: 81px;
}
.div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card4 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
}
.card4-btn {
  width: 120px;
  height: 21px;
  font-size: 15px;
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: center;
}
.card5 {
  width: 100%;
  height: 1000px;
  background-image: url(/static/images/midlle-image.png);
  background-position: center;
  margin-top: 200px;
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
}
.card5__section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 211px;
  height: 211px;
  border: solid green 2px;
  border-radius: 100px;
  position: relative;
}
.piy {
  margin-top: -30px;
}
.circle-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.categories {
  margin-top: 300px;
}
